<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlineStorming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlineStorming.Properties.Settings>
            <setting name="dataAuthKey" serializeAs="String">
                <value>your_api_key_here</value>
            </setting>
            <setting name="dataGPTmodel" serializeAs="String">
                <value>gpt-3.5-turbo</value>
            </setting>
            <setting name="dataGPTsystem" serializeAs="String">
                <value />
            </setting>
            <setting name="formatUTF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formatSeparator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formatNewLine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formatExtendedRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dataGPTTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLAuthKey" serializeAs="String">
                <value>your_api_key_here</value>
            </setting>
            <setting name="deepLFreeProFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="deepLTranslateDatasetFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLUserLang" serializeAs="String">
                <value>JA</value>
            </setting>
            <setting name="deepLGPTLang" serializeAs="String">
                <value>EN-US</value>
            </setting>
            <setting name="deepLTranslateRequestFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLTranslateResponseFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLUserLangAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deepLGPTLangAuto" serializeAs="String">
                <value>False</value>
            </setting>
        </OutlineStorming.Properties.Settings>
    </userSettings>
</configuration>